<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><%= headerTitle%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto" style="margin-left: 15%">
        <li class="tab-item nav-item">
          <a class="tab-item-link nav-link" href="/dashboard/allumni-all">All Allumni Members<span class="sr-only">(current)</span></a>
        </li>
        <li class="tab-item nav-item">
          <a class="tab-item-link nav-link" href="/dashboard/allumni-research-scholars">Research scholars<span class="sr-only">(current)</span></a>
        </li>
        <li class="tab-item nav-item ">
          <a class="tab-item-link nav-link" href="/dashboard/allumni-internship-students">Internship Students<span class="sr-only">(current)</span></a>
        </li>
        <li class="tab-item nav-item ">
          <a class="tab-item-link nav-link" href="/dashboard/allumni-project-fellow">Project Fellow<span class="sr-only">(current)</span></a>
        </li>
        <li class="tab-item nav-item ">
          <a class="tab-item-link nav-link" href="/dashboard/allumni-visiting-faculty">Visiting Faculty<span class="sr-only">(current)</span></a>
        </li>
        <li class="tab-item nav-item ">
          <a class="tab-item-link nav-link" href="/dashboard/allumni-masters-students">Masters Students<span class="sr-only">(current)</span></a>
        </li>
        <li class="tab-item nav-item ">
          <a class="tab-item-link nav-link" href="/dashboard/allumni-bachelor-students">Bachelor Students<span class="sr-only">(current)</span></a>
        </li>
        <a href="/" style="margin-left:50px"><button class="btn btn-info my-2 my-sm-0" type="button">Home</button></a>
  
      </ul>
    </div>
  </nav>
  