<div class="col mb-4">
  <div class="card h-100">
    <img src="/dashboard/<%= renderedPage %>/getCardImages/images/<%= file.filename %>" class="card-img-top card-image" alt="...">
    <div class="card-body">
      <h5 class="card-title o-card-title"></h5>
      <p class="card-text o-card-details"></p>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary edit-btn" type="button" name="button" data-toggle="myModal">Edit</button>
      <button class="btn btn-danger delete-btn" type="button" name="button">Delete</button>
    </div>
  </div>
</div>
