<div class="nav-item dropdown pl-5">
    <button class="btn nav-link dropdown-toggle btn-danger" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= title %></button>
    <div class="dropdown-menu">
      <a id="sorting-by-newest" class="dropdown-item" href="#">Newest first</a>
      <a id="sorting-by-oldest" class="dropdown-item" href="#">Oldest</a>
      <!-- <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a> -->
    </div>
</div>