<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">DASHBOARD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/researchInterest">Research Interest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/lab-news">Lab News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/facilities">Facilities</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Group Leader
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/dashboard/awards-and-academics">Awards & Academics</a>
          <a class="dropdown-item" href="/dashboard/invited-talks">Invited Talks</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Group Members
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/dashboard/cm-all">Current Members</a>
          <a class="dropdown-item" href="/dashboard/allumni-all">Allumni</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Publications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/dashboard/latest-research">Latest Research</a>
          <a class="dropdown-item" href="/dashboard/journals">Journals</a>
          <a class="dropdown-item" href="/dashboard/book-and-book-chapters">Book & Book Chapters</a>
          <a class="dropdown-item" href="/dashboard/group-activities">Group activities</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard/vacancy">Vacancy</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard/gallery">Gallery</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dashboard/contacts">Contact</a>
      </li>
    </ul>
    <a href="/users/logout" class="btn btn-info"><i class="fas fa-sign-out-alt"></i> LogOut</a>
  </div>


</nav>
