<!-- <form class="form-inline my-2 my-lg-0"> -->
    <input id=<%= searchId %> class="form-control mr-sm-4" type="text" style="width: 30vw; margin-left: 25%;" placeholder="Search">
    <!-- <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button> -->
<!-- </form> -->