<div class="form-group">
  <label class="col-form-label" for="inputDefault">Subject</label>
  <input type="text" class="form-control add-subject" name="newItemSubject" placeholder="Enter subject name" id="inputDefault" autocomplete="off">
</div>
<div class="form-group">
  <label for="exampleTextarea">Details</label>
  <textarea class="form-control add-details summernote" name="newItemDetails" placeholder="Enter subject details" rows="4" spellcheck="false" contenteditable="true"></textarea>
</div>
<button type="submit" class="btn btn-info add-btn" name="list"><i class="fas fa-database"></i> &nbsp Add</button>
