<div class="card-body">
  <!-- <h5 class="card-title">Card title</h5>
  <p class="card-text">This is a short card.</p> -->
  <div class="form-group">
    <label for="exampleInputFile">Image input</label>
    <input type="file" name="image" class="form-control-file card-file" id="uploadCardImage" aria-describedby="fileHelp">
  </div>
  <div class="form-group">
    <label class="col-form-label" for="inputDefault">Title</label>
    <input type="text" name="newCardItemTitle" class="form-control i-card-title" placeholder="Default title" id="inputDefault">
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Details</label>
    <textarea class="form-control i-card-detail summernote" name="newCardItemDetails" id="exampleTextarea" rows="3" spellcheck="false"></textarea>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary btn-block submit-btn">Submit</button>
  </div>
</div>
