<div style="border-style: dashed; border-width: 5px; border-radius: 10px; border-color: red" class="notes container m-50 text-left">
  <text style="font-size:18px" class='font-weight-bold'>Instructions for adding Notes.</text>
  <hr>
  <text>👉 Both Title and Subject are must required feilds.</text>
  <br />
  <text>👉 Note editor can be used to style your notes.</text>
  <br />
  <text>👉 By dragging details section to another details section, contents(Title, Details) of both the sections are interchanged.</text>
  <br />
  <text>👉 While working with text editor, there might be scenerios when text color is white on white background, so it may not not be visisble. Select the area and change the text to some darker color.</text>
  <br />
  <text>👉 If Subject and Details are not visible after uploading. Please wait for few seconds and then reload</text>
  <br />
  <text>👉 Code view can always be used to make changes more efficently so as to have more control over whatever you are writing.</text>
  <br />
  <text>👉 Even though there is an option of inserting images and videos, they wont work as these are large sized files and require different pathways.</text>
  <br />
  <br />
</div>
